.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App-header {
  min-height: 800px;
  width: 1366px;
  background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  display: flex;
  align-items: center;
  flex-direction: column;
}

.paper {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-image: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: inset 0px -10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.dummy {
  background-color: aliceblue;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eed;
  -webkit-box-shadow: inset 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
}

.triangle {
  width: 313px;
  height: 300px;
  background-image: url("../public/images/bg-triangle.svg");
  background-repeat: no-repeat;
  margin-top: 150px;
}

.scissors {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-image: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: inset 0px -10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.rock {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-image: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: inset 0px -10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.paper-img {
  transition: transform 0.3s ease-in-out;
}

.scissor-img {
  transition: transform 0.3s ease-in-out;
}

.rock-img {
  transition: transform 0.3s ease-in-out;
}

.paper:hover {
  background-image: radial-gradient(hsl(230, 89%, 65%), hsl(230, 89%, 70%));
  .paper-img {
    transform: rotate(20deg);
  }
}

.scissors:hover {
  background-image: radial-gradient(hsl(39, 89%, 55%), hsl(40, 84%, 60%));
  .scissor-img {
    transform: rotate(20deg);
  }
}

.rock:hover {
  background-image: radial-gradient(hsl(349, 71%, 55%), hsl(349, 70%, 60%));
  .rock-img {
    transform: translateY(-7px);
  }
}

.score-container {
  margin-top: 40px;
  width: 600px;
  height: 100px;
  border: 3px rgba(253, 253, 253, 0.4) solid;
  border-radius: 12px;
  display: flex;
  padding: 20px;
}

.score-title {
  color: aliceblue;
  text-align: left;
  line-height: 1;
  margin-top: 0;
}

.score-number {
  width: 120px;
  height: 90px;
  border-radius: 8px;
  border: 1px solid white;
  background-color: aliceblue;
  margin-left: auto;
  padding: 5px;
}

.step-two {
  margin-top: 100px;
  width: 500px;
  height: 300px;
  text-align: start;
  display: flex;
  justify-content: space-between;
}

.btn {
  height: 40px;
  width: 140px;
  letter-spacing: 1px;
  border-radius: 6px;
  cursor: pointer;
  color: hsl(217, 16%, 45%);
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 0px;
  background-color: aliceblue;
}

.btn:hover {
  color: hsl(320, 36%, 50%);
}

.rule {
  margin-top: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.968);
  width: 100px;
  height: 40px;
  border-radius: 8px;
  color: #eed;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

.rule:hover {
  cursor: pointer;
  transform: translateY(-4px);
  transition: transform 0.3s ease-in-out;
}

.rule-modal {
  position: absolute;
  margin-top: 200px;
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 6px;
}

.button-exit {
  width: 30px;
  height: 30px;
  border-style: none;
}

.button-exit:hover {
  cursor: pointer;
  transform: rotate(360deg);
  transition: transform 0.8s;
}

.rule-modal > div {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.rule-modal > div > p {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin: 10px;
}
